.to-do-container{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}
.delete{
    color: red;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
.done{
    text-decoration: line-through;
    text-decoration-color:orange;
    text-decoration-style: double;
}