
.nav-bar{
  width: 450px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: lightblue;
  
}
.log-in-page-container{
  display: flex;
  justify-content: right;
  background-color: lightyellow;
}
.button{
  color: grey;
  text-shadow: lightslategray;
}
.regsister-button{
  align-items: center;
  color: blue;
}
.register-page-container{
  display: flex;
  justify-content: left;
  color: blue;
  width: 450px;
}
