.square{
    width: 75px;
    height: 75px;
    outline-color: solid orange;
    font-size: 45px;
    border-color: lightblue;
    border: solid;
    padding:22px 10px;
    
    
}
h1{
    color: green;
    font-family: monospace;
}

