.App {
  text-size-adjust: center;
}
h2{
  color: rgb(110, 110, 228);
  text-transform: uppercase;

}
.container-fluid{
  width: 100%
}
.article-list-container{
  border-block-width: 75px;

}
.registration-form{
  background-color: lightyellow;
}
.logo {
  width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.col-sm-3 sidenav{
  height: 100%;
  
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: lightgrey;
  height: 100%;
  font-weight: bolder;
  text-transform: lowercase;


}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}
h2{
  text-align: center;
}
h1{
  text-align: center;
}
.box{
  align-content: center;
  width: auto;
  height: auto;
  border-color: blueviolet;
  padding-top: 5px;
  padding-bottom: 5px;


}
.search{
  vertical-align: middle;
  pointer-events: all;
}
.import-group{
  color: green;
}
.model-container{
  background-color: lightsteelblue;
  width: 100px;

}
.my-form-container{
  justify-content: space-evenly;
  border: solid white;
  
}
.col-sm-3 sidenav{
  text-align: right;
  height: 100%;
  text-transform: lowercase;
  background-color: lightyellow;

}
.message-area{
  background-color: white;
  
}
.text-area{
  background-color: whitesmoke;
}
.submit-button{
  text-align: center;
  width: 150px;
  color: black;
  
}

