.nav-bar{
  width: 100%;
  background-color:lightblue;
  padding: 15px;
  display: flex;
  
  justify-content: space-evenly;
}

.nav-bar a{
  padding: 15px;
  border: 1px solid white;
  text-decoration:  none;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  text-shadow: cadetblue;

}

.active{
  background:grey;
}
.nav-bar a:hover{
  background: blueviolet;
  cursor: pointer
  ;
}