.resume{
display: flex;
flex-flow: row-wrap;
justify-content: space-evenly;
}
.about{
  display: flex;
  background-color: lightblue;
  justify-content: center;
  height: 75px;
}
.community{
  display: flex;
  justify-content: right;
}
.container{
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-evenly;
}
.name{
  font-size: 25px;

}
.header{
  background-color: lightgrey;
}
