.container{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        "navbar navbar navbar"
        "sidebar main main"
        "footer footer footer";

}
nav{
    grid-area: navbar;
    background-color: #253B4a;

}
aside{
    grid-area: sidebar;
    background-color: blueviolet;

}
main{
    grid-area: main;
    background-color: #ff530d;

}
footer{
    grid-area: footer;
    background-color: #257D92;
}
form{
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    background: cornflowerblue
    
}
.field{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px
}
.required{
    color: red;

}
.error{
    border: 2px solid red;
}
h3{
    text-align: center;
}
